---
import AnsiText from '../components/Header';
import Navbar from '../components/Navbar';
import Profile from '../components/Profile';
import FancyTerminal from '../components/Terminal';
import Terminal from '../layouts/terminal.astro';
---

<Terminal title="About me - EuzDev">
	<Navbar client:load/>
	<div class="mt-3">
		<AnsiText message='about'/>
	</div>
	<div class="flex flex-1 px-1">
		<Profile client:only/>
	</div>
	<div class="flex flex-col flex-1 px-1 md:px-12">
		<FancyTerminal client:only/>
	</div>
</Terminal>