---
import Profile from '../components/Profile';
import Terminal from '../layouts/terminal.astro';
---

<Terminal title="About me - EuzDev" ansii="about">
	<div class="flex flex-1 px-1">
		<Profile client:only/>
	</div>
</Terminal>