---
import ContactInfo from '../components/ContactInfo';
import Terminal from '../layouts/terminal.astro';
---

<Terminal title="Contact me - EuzDev" ansii="contact">
	<div class="mt-3">
		<ContactInfo client:load/>
	</div>
</Terminal>