---
import Footer from '../components/Footer.astro';
import AnsiText from '../components/Header';
import Navbar from '../components/Navbar';
import ProjectWindow from '../components/ProjectWindow';
import FancyTerminal from '../components/Terminal';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/bitmap.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - Projects</title>
	</head>
	<body class="fade">
        <Navbar client:load/>
		<div class="mt-3">
            <AnsiText message='projects'/>
        </div>
        <div class="flex flex-row flex-wrap justify-center">
            <ProjectWindow client:load title='FluidPyPLC' repoName='FluidPyPLC' repoOwner='MrLostInTheInternet'/>
            <ProjectWindow client:load title='Mountain First Aid' repoName='first-aid-mountain' repoOwner='MrLostInTheInternet'/>
            <ProjectWindow client:load title='My Portfolio' repoName='terminal-portfolio' repoOwner='MrLostInTheInternet'/>
            <ProjectWindow client:load title='E-commerce Angular + Spring Boot' repoName='spring-boot-ecommerce' repoOwner='MrLostInTheInternet'/>
        </div>
		<div class="flex flex-col flex-1 px-1 md:px-12">
            <FancyTerminal client:only/>
		</div>
	</body>
	<Footer/>
</html>

<style>
	h1 {
		padding-left: 10px;
	}
	body {
		background-color: #1e1e1e; /* Set the background color to match the terminal */
		color: #d4d4d4; /* Set the text color */
		font-family: monospace; /* Set the font family to monospace */
		user-select: none;
	}
    .fade-enter, .fade-leave-to {
		opacity: 0;
		transition: opacity 0.9s ease-in-out;
	}
</style>