---
import { ViewTransitions } from 'astro:transitions';
import ProjectWindow from '../components/ProjectWindow';
import Terminal from '../layouts/terminal.astro';
---

<Terminal title="Projects - EuzDev" ansii="projects">
	<ViewTransitions/>
	<div class="flex flex-row flex-wrap justify-center">
		<ProjectWindow client:load title='FluidPyPLC' repoName='FluidPyPLC' repoOwner='MrLostInTheInternet'/>
		<ProjectWindow client:load title='Mountain First Aid' repoName='first-aid-mountain' repoOwner='MrLostInTheInternet'/>
		<ProjectWindow client:load title='My Portfolio' repoName='terminal-portfolio' repoOwner='MrLostInTheInternet'/>
		<ProjectWindow client:load title='E-commerce Angular + Spring Boot' repoName='spring-boot-ecommerce' repoOwner='MrLostInTheInternet'/>
		<ProjectWindow client:load title='E-verything' repoName='e-verything' repoOwner='MrLostInTheInternet'/>
	</div>
<ProjectWindow client:load title='Abarth 3D Prints' repoName='abarth-web' repoOwner='MrLostInTheInternet'/>
</Terminal>