<footer>
    <span class="text-xs md:text-lg">
        &copy; {new Date().getFullYear()} E.I.V. Portfolio. Powered by
        <a
            href="https://astro.build"
            target="_blank"
            rel="noopener">Astro</a
        >
    </span>
</footer>

<style>
    footer {
        color: 'gray';
        font-size: 0.8em;
        margin: 1em auto;
        text-align: center;
        position: fixed;
        bottom: 0;
        right: 1%;
    }
</style>
