---
import Footer from '../components/Footer.astro';
import AnsiText from '../components/Header';
import Navbar from '../components/Navbar';
import FancyTerminal from '../components/Terminal';
const {title, ansii} = Astro.props;

import { SEO } from 'astro-seo';
---

<html lang="en">
	<head>
		<SEO
			title="Terminal Portfolio"
			description="Eugen Iofciu Vasile's terminal portfolio,
			a basic portfolio with some features to showcase my work as a Junior Web Developer."
			openGraph={{
				basic: {
				title: "Terminal based Portfolio, author: Eugen Iofciu Vasile",
				type: "Portfolio",
				image: "https://contrib.rocks/image?repo=MrLostInTheInternet/terminal-portfolio",
				}
			}}
		/>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/bitmap.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="fade">
		<Navbar client:load/>
		<div class="mt-3">
			<AnsiText message={ansii}/>
		</div>
		<div class="flex flex-col flex-1 px-1 md:px-12">
			<slot/>
			<FancyTerminal client:load/>
		</div>
	</body>
	<Footer/>
</html>

<style>
	h1 {
		padding-left: 10px;
	}
	body {
		background-color: #1e1e1e; /* Set the background color to match the terminal */
		color: #d4d4d4; /* Set the text color */
		font-family: monospace; /* Set the font family to monospace */
		user-select: none;
	}
	.fade-enter, .fade-leave-to {
		opacity: 0;
		transition: opacity 0.9s ease-in-out;
	}
</style>